@media(min-width: 38.75rem){
  .header{
    padding: 1rem 3rem;
  }

  .countries{
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .navbar{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin: 0 2rem;

    .navbar-container{
      width:  20rem;
    }

    .filter{
      width: 10.63rem;
    }
  }

  .filter-toggle{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;

    .filter-list{
      width: 10.63rem;
    }
  }

  .country-list{
    transition: transform .3s ease;
      &:hover{
        transform: scale(1.1)
      }
  }

  // single country
  .details{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 2rem 0;
    justify-content: left;
    align-items: center;
    column-gap: 5rem;
  }

  .single-country-img{
    margin: 0 !important;
    height: 420px !important;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

@media(min-width: 63.75rem){
  .countries{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .navbar{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    justify-content: space-between;
    margin: 0 2rem;

    .navbar-container{
      width: 25rem;
    }

    .filter{
      width: 11.25rem;
    }
  }

  .filter-list{
    width: 11.25rem !important;
  }

  // single country 
  .single-country-img{
    max-width: 600px !important;
    height: 500px !important;
  }
}