@media(min-width: 38.75rem){
  .header{
    padding: 1rem 3rem;
  }

  .countries{
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .navbar{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin: 0 2rem;

    .navbar-container{
      width:  20rem;
    }

    .filter{
      width: 10.63rem;
    }
  }

  .filter-toggle{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;

    .filter-list{
      width: 10.63rem;
    }
  }

  .country-list{
    transition: transform .3s ease;
      &:hover{
        transform: scale(1.1)
      }
  }
}

@media(min-width: 63.75rem){
  .countries{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .navbar{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    justify-content: space-between;
    margin: 0 2rem;

    .navbar-container{
      width: 25rem;
    }

    .filter{
      width: 11.25rem;
    }
  }

  .filter-list{
    width: 11.25rem !important;
  }

}